* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: hsl(232, 13%, 33%);
    background-color: #f7f7ff;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    height: 46px;
    width: 100%;
    border-radius: 6px;
    background-color: hsl(236, 72%, 79%);
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-size: 14px;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn:hover,
.btn:focus {
    background-color: transparent;
    background-image: initial;
    color: hsl(237, 63%, 64%);
    border: 1px solid hsl(237, 63%, 64%);
}

.btn-secondary {
    background-image: none;
    background-color: #fff;
    color: hsl(237, 63%, 64%)
}

.btn-secondary:hover,
.btn-secondary:focus {
    border: 1px solid #fff;
    color: #fff;
}

.onoffswitch-checkbox {
    position: absolute;
    /* Remove the checkbox from the flow */
    transform: translateY(1px);
    /* Move the checkbox 1px down. Can't use top/bottom because we can't use position: relative */
    height: 34px;
    width: 58px;
    margin: 0 16px;
}

.onoffswitch {
    display: inline-block;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 36px;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    height: 36px;
    width: 58px;
    vertical-align: middle;
    margin: 0 16px;
    user-select: none;
}

.onoffswitch:hover {
    background-image: linear-gradient(to right, #d1d1e9, #bbbde3);
}

.onoffswitch-switch {
    display: block;
    width: 26px;
    margin: 5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 22px;
    border-radius: 36px;
    transition: right 0.3s;
}

.onoffswitch-checkbox:checked+.onoffswitch .onoffswitch-switch {
    right: 0px;
}

[data-pricetype] {
    height: 0;
    line-height: 0;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 72px;
}

.pricing-currency {
    font-size: 40px;
    position: relative;
    bottom: 10px;
    right: 6px;
}

.onoffswitch-checkbox:checked~.pricing-item-container [data-pricetype=monthly],
.onoffswitch-checkbox:not(:checked)~.pricing-item-container [data-pricetype=annual] {
    opacity: 1;
}

.switch-label {
    color: hsl(234, 14%, 74%);
}

.pricing-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    padding-bottom: 56px;
    flex-direction: column;
}

.pricing-item {
    width: 330px;
    height: 450px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #0001;
    padding: 0 32px;
    margin: 16px 0;
}

.pricing-item.primary {
    background-image: linear-gradient(135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: #fff;
}

.pricing-item h3 {
    margin-top: 32px;
}

.pricing-item ul {
    list-style-type: none;
    padding-left: 0;
}

.pricing-item li {
    padding: 16px;
    border-top: 1px solid #dadada;
    color: hsl(233, 13%, 49%);
}

.pricing-item li:last-child {
    border-bottom: 1px solid #dadada;
}

.pricing-item.primary li {
    border-color: #a4a9fb;
    color: inherit;
}

.pricing-prices {
    margin: 64px 0;
    letter-spacing: -1px;
}

.pricing-item .btn {
    margin-bottom: 57px;
    margin-top: 34px;
}

.pricing {
    position: relative;
    text-align: center;
    padding-top: 32px;
    overflow-x: hidden;
}

.pricing * {
    z-index: 2;
}

.pricing>h1 {
    margin-bottom: 32px;
}

.pricing>img {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

#pricing-img-top {
    top: -36px;
    right: -200px;
}

#pricing-img-bottom {
    bottom: 0;
    left: 0;
    display: none;
}

.attribution {
    border-top: 1px solid black;
    font-size: 11px;
    text-align: center;
    padding: 16px 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 576px) {
    .pricing-item {
        width: 350px;
    }
}

@media only screen and (min-width: 992px) {
    #pricing-img-top {
        top: 0;
        right: 0;
    }

    #pricing-img-bottom {
        display: initial;
    }

    .pricing-item-container {
        flex-direction: row;
        padding-bottom: 104px;
    }

    .pricing-item {
        margin: 0;
    }

    .pricing-item.primary {
        height: 500px;
    }

    .pricing-item.primary h3 {
        margin-top: 57px;
    }
}